Name: Spell Effect: Ki Strike (Fire)
Nom: Effet : Frappe ki (Feu)
État: libre

------ Description (en) ------
<p>Granted by @Compendium[pf2e.spells-srd.ZL8NTvB22NeEWhVG]{Ki Strike} if you have @Compendium[pf2e.feats-srd.BU4NBIBkVZxdWLLH]{Elemental Fist} and selecting fire.</p>
------ Description (fr) ------
<p>Accordée par @Compendium[pf2e.spells-srd.ZL8NTvB22NeEWhVG]{Frappe ki} si vous avez @Compendium[pf2e.feats-srd.BU4NBIBkVZxdWLLH]{{Poing élémentaire} et en sélectionnant Feu.</p>
